/* Modern CSS Reset: https://andy-bell.co.uk/a-modern-css-reset/*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --clr-primary-dark: #22577e;
  --clr-primary-light: #5584ac;
  --clr-accent: #faffaf;
  --clr-neutral-100: #fff;
  --clr-neutral-900: #000;
  --clr-red: #fc7300;
  --clr-green: #bfdb38;

  --ff-poppins: 'Poppins', sans-serif;

  --fs-400: 1rem;
  --fs-500: 1.7rem;
  --fs-700: 3rem;

  --fw-bold: 700;
  --fw-normal: 400;

  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 24px;
  --spacing-5: 32px;
  --spacing-6: 48px;

  --w-input: 18rem;
}
body {
  font-size: var(--fs-400);
  font-family: var(--ff-poppins);
  color: var(--clr-neutral-100);
}
.main {
  display: flex;
  min-height: 100vh;
}
.dashboard {
  flex: 1;
  background-color: var(--clr-primary-light);
  padding-top: var(--spacing-6);
}
.dashboard__header {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
  text-align: center;
  background-color: var(--clr-accent);
  color: var(--clr-neutral-900);
}
.book-shelf {
  flex: 3;
  background-color: var(--clr-primary-dark);
}
.dashboard__form {
  padding: var(--spacing-6) var(--spacing-4);
  display: grid;
  gap: var(--spacing-3);
}
.form__input-group {
  position: relative;
  margin-bottom: var(--spacing-6);
  margin-inline: auto;
}

/* I Tweak this awesome input style from https://codepen.io/chris__sev/pen/LYOyjY?editors=1100 */
.input {
  background: none;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--clr-neutral-100);
  color: var(--clr-neutral-100);
}
.input--focus:focus {
  outline: none;
  border: none;
}
.input__label {
  font-weight: var(--fw-bold);
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.input:focus ~ .input__label,
.input:valid ~ .input__label {
  top: -20px;
  font-size: 14px;
  color: var(--clr-accent);
}
.input__bar {
  position: relative;
  display: block;
}
.input__bar::before,
.input__bar::after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: var(--clr-accent);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.input__bar::before {
  left: 50%;
}
.input__bar::after {
  right: 50%;
}
.input:focus ~ .input__bar:before,
.input:focus ~ .input__bar:after {
  width: 50%;
}
.input__highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
.input:focus ~ .input__highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
@-webkit-keyframes inputHighlighter {
  from {
    background: var(--clr-accent);
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: var(--clr-accent);
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: var(--clr-accent);
  }
  to {
    width: 0;
    background: transparent;
  }
}
/* */
